.createProject-link {
  background-color: white;
  font-size: 1.5rem;
  border: 0.2rem solid black;
  font-family: $fontFamily-Inter;
  border-radius: 0.7rem;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}