.title-app {
    font-size: 3rem;
    margin: 0;
    padding: 0.6rem;
    font-family: $fontFamily-Roboto-Medium;
    font-weight: 300;
    background-color: rgba(154, 180, 231, 1);
    color: black;
    text-decoration: none;
    border-radius: 2rem;
}
