@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

$fontFamily-Inter: "Inter", sans-serif;

@font-face {
  font-family: "Roboto-Medium";
  src: url("../../fonts/Roboto-Medium.ttf");
}

$fontFamily-Roboto-Medium: "Roboto-Medium", sans-serif;
